.LinkContainer {
  display: flex;
  justify-content: space-evenly;
  width: 300px;
  font-family:'Gilroy-Bold';
}


.loginButton {
  border: 2px solid #4393c6;
  border-radius: 8px;
  color: white;
  font-size: 17px;
  font-weight: 500;
  line-height: 24px;
  text-transform: none;
  margin-bottom: 20px;
  margin-left: 25px;
  background: transparent;
  padding: 5px 20px;
  cursor: pointer;
  font-family: "Inter";
}
.loginButton a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
}
.loginButton:hover {
  background-color: #eee4;
}
.SignupButton:hover {
  background-color: #1b527b;
  transform: scale(1.05);
  
}

.SignupButton {
  border: 2px solid #1b527b;
  border-radius: 8px;
  background-color: #1b527b;
  color: white;
  font-size: 17px;
  line-height: 24px;
  margin-bottom: 20px;
  text-transform: none;
  margin: 10px;
  padding: 6px 25px;
  cursor: pointer;
}
.SignupButton a {
  text-decoration: none;
  color: #fff;
  font-style: normal;
  font-weight: 200;
  font-size: 20px;
  line-height: 25px;
  font-family: "Inter";
}

.dropDown {
  display: flex;
  flex-direction: column;
}
.mobileNavItems {
  font-family: "Inter";
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: absolute;
  top: 4rem;
  right: 0;
  width: 100%;
  height: 95vh;
  background-color: #15242f;
  color: #fff;
  border-top: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  /* border-radius: 5px; */
  gap: 1%;
  z-index: 2;
  padding-top: 5%;
}

.mobileNavItems a {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

.mobileItem {
  /* position: relative; */
  padding: 2%;
  font-size: 1.5rem;

  /* border-radius: 5px; */
  padding-left: 7%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease; /* Add a smooth transition effect */
}

.mobileItem:hover {
  background-color: #e0e0e0; /* Change this to the desired color on hover */
}

@media (max-width: 769px) {
  .imageContainer {
    padding-left: 7%;
    padding-right: 5%;
  }
}
