.rotated-button-container {
  text-align: center;
  padding: 25px;
  transform: rotate(5deg);
  background-color: #f6f7f9;
  margin-bottom: -100px;
  height: 200px;
  position: relative;
  z-index: 0;
}

.rotated-heading {
  font-size: 50px;
  margin-bottom: 10px;
  transform: rotate(-5deg);
  margin-top: 50px;
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  letter-spacing: 5px; /* Adjust the letter-spacing value as needed */
  font-weight: 350; /* Adjust the font-weight value as needed */
}

.rotated-buttons-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  transform: rotate(-5deg);
  margin-top: 20px; /* Add margin between the buttons */
}

.rotated-invest-button,
.rotated-sell-button {
  padding: 10px 100px; /* Adjust padding as needed */
  font-size: 18px; /* Adjust the font size of the buttons */
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.rotated-invest-button {
  background-color: transparent;
  border: 1px solid #30475e;
  color: #000000;
  font-weight: bold;
  margin-right: 20px;
}

.rotated-sell-button {
  background-color: #4393c6;
  color: #fff;
}

.horizontal-line {
  border: 1px solid #ccc; /* Set the color and style of the line */
  margin: 20px 0; /* Adjust the margin as needed */
}
.footer-link {
  text-decoration: none; /* Remove underlines from links */
  color: inherit; /* Inherit the text color from the parent */
  justify-content: center;
}

.footer-link:hover {
  text-decoration: underline; /* Add underline on hover if desired */
}

.socialIcons {
  justify-content: space-between;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  .rotated-button-container {
    height: auto;
    margin-bottom: -45px;
    transform: none;
  }

  .rotated-heading {
    font-size: 40px;
    margin-top: 20px;
    align-items: flex-start;
    transform: none;
  }

  .rotated-buttons-container {
    /* flex-direction: column; */
    align-items: center;
    margin-top: 10px;
    transform: none;
  }

  .rotated-invest-button,
  .rotated-sell-button {
    margin: 5px 0;
    width: 100px;
    padding: 10px; /* Adjust padding as needed */
    font-size: 18px; /* Adjust the font size of the buttons */
  }
}
